:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-bg-color: #2e2f42;
  --dark-bg-70-color: rgba(46, 47, 66, 0.7);
  --dark-bg-40-color: rgba(46, 47, 66, 0.4);
  --succes-100-color: #31d0aa;
  --succes-75-color: rgba(49, 208, 170, 0.75);
  --succes-50-color: rgba(49, 208, 170, 0.5);
  --succes-10-color: rgba(49, 208, 170, 0.1);
  --main-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-bg-color: #f4f4fd;
  --primary-bg-color: #e5e5e5;
  --white-color: #ffffff;
  --modal-background-color: #fcfcfc;

  /* Animation */
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* |============================
| GENERAL STYLES
|============================ */

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
  font-size: 16px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.links {
  text-decoration: none;
  color: var(--dark-bg-color);
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* |============================
| HEADER STYLES
|============================ */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
    0px 1px 6px rgb(46 47 66 / 8%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  margin-right: 76px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.accent-logo {
  color: var(--primary-brand-color);
}
.logo-hd {
  color: var(--dark-bg-color);
}

.navigation-list,
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    color: var(--dark-bg-color);
  }

  .contacts {
    display: inline;
    font-size: 12px;
  }
  .contacts-item:nth-child(1) {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    text-align: center;
    gap: 40px;
  }
  .navigation-list .links.current {
    color: var(--pressed-state-color);
  }
  .navigation-list .links:active {
    color: var(--pressed-state-color);
  }
  .links {
    position: relative;
    display: block;
  }
  .links.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    position: absolute;
    bottom: -29px;
  }
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  stroke: var(--dark-bg-color);
}
.head-container {
  display: flex;
  justify-content: space-between;
}

/* ----------------HEADER MOBILE MENU----------------- */

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}

/**
|============================
| HERO SECTION STYLES
|============================
*/
.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
}
.main-btn {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  border: none;
  transition: background-color var(--transition-effect), color var(--transition-effect);
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .main-section {
    max-width: 428px;
    min-height: 432px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../img-adaptive/bgi-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../img-adaptive/bgi-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 768px;
    min-height: 435px;
    padding-top: 112px;
    padding-bottom: 108px;
  }
}

.main-title {
  font-weight: 700;
  line-height: 1.1;
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .main-title {
    font-size: 36px;
    width: 320px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    width: 496px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
|============================
| BENEFITS SECTION STYLES
|============================
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (max-width: 1199px) {
  .icons-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.benefits-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: var(--main-text-color);
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .benefits-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    color: var(--dark-bg-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    text-align: center;
    padding: 0px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    color: var(--dark-bg-color);
    margin: 0px 0px 8px 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-txt {
    width: 356px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .benefits-item:nth-child(-n + 2) {
    margin-bottom: 48px;
  }
}

/**
|============================
| TASKS SECTION STYLES
|============================
*/

@media screen and (max-width: 1199px) {
  .tasks {
    display: none;
  }
}

/**
|============================
| TEAM SECTION STYLES
|============================
*/
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--light-bg-color);
  }
}

@media screen and (max-width: 767px) {
  .team-item {
    display: block;
    background-color: var(--white-color);
    width: 260px;
    height: 436px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-bg-color);
  margin: 0px 0px 72px 0px;
  padding: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.name-container {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.object-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-bg-color);
  margin: 0 0 8px 0;
}
.object-descr {
  font-size: 16px;
  line-height: 1.3;
  color: var(--main-text-color);
  margin: 0;
  padding: 0px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color var(--transition-effect);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 24px;
    row-gap: 64px;
  }
}

/**
|============================
| CUSTOMERS SECTION STYLES
|============================
*/

@media screen and (max-width: 1199px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (max-width: 767px) {
  .customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 88px;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    transition: color var(--transition-effect), border var(--transition-effect);
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    transition: color var(--transition-effect), border var(--transition-effect);
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
}

.customers-list-icon {
  fill: var(--subtle-text-color);
  transition: fill var(--transition-effect);
}
.customers-list-link:hover + .customers-list-icon,
.customers-list-link:focus + .customers-list-icon {
  fill: var(--pressed-state-color);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--pressed-state-color);
  color: var(--pressed-state-color);
}
/**
|============================
| FOOTER SECTION STYLES
|============================
*/
.logo-ft {
  color: var(--light-bg-color);
}
.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.subscribe-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  gap: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color var(--transition-effect), color var(--transition-effect);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: var(--dark-bg-color);
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
    align-items: center;
  }
  .footer-txt {
    font-size: 16px;
    width: 268px;
    text-align: center;
    line-height: 1.3;
    color: var(--accent-color);
    margin: 16px auto 72px auto;
    padding: 0px;
  }
  .footer-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 72px;
  }
  .footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-effect);
  }

  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: var(--succes-100-color);
  }
  .footer-contact-input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: var(--white-color);
  }
  .subscribe-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: var(--dark-bg-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-txt {
    line-height: 1.3;
    color: var(--accent-color);
    margin: 16px 0px 0px 0px;
    padding: 0px;
    width: 248px;
  }

  .tablet-container {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 72px;
  }
  .footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-effect);
  }

  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: var(--succes-100-color);
  }
  .subscribe-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer-subscribe-container{
    margin-left: 128px;
  }
  .footer-contact-input {
    width: 264px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: var(--white-color);
  }
}

/**
|============================
| MODAL WINDOW  STYLES
|============================
*/
